# Dependencies directory
node_modules/*

# Complie directory
dist/*

# Test directory
coverage/*

# Log directory
logs/*
npm-debug.log*

# Environment files
.env
.env.*
!.env.example
!.env.migration.example

# Editor directory and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
